.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
Manuscript/endo_herbarium.aux
Manuscript/endo_herbarium.aux
Manuscript/endo_herbarium.bbl
Manuscript/endo_herbarium.blg
Manuscript/endo_herbarium.log
Manuscript/endo_herbarium.pdf
Manuscript/endo_herbarium.synctex.gz
Manuscript/endo_herbarium.aux
Manuscript/endo_herbarium.bbl
Manuscript/endo_herbarium.log
Manuscript/endo_herbarium.synctex.gz
Manuscript/endo_herbarium.log
Manuscript/endo_herbarium.log
Manuscript/endo_herbarium.pdf
